@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@import "~bootstrap/scss/bootstrap";
@import "./variables";

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1400px;
  }
}

@mixin button {
  color: #000;
  background: $orange;
  border-radius: 50px;
  padding: 15px 35px;
  font: {
    weight: 600;
    size: 23px;
  }
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    transform: scale(1.1);
  }
}

.sec-title {
  justify-content: center;
  padding-bottom: 60px;
  h2 {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 36px;
    span {
      color: $orange;
    }
  }
}

.section-padding {
  padding: 80px 0;
}

.blue-overlay {
  background-size: cover !important;
  position: relative;
  color: #000;
  z-index: 1;
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $blue;
    content: "";
    z-index: -1;
    opacity: 0.6;
  }
}

header {
  background: $sky;
  padding: 25px 0;
  .logo {
    color: $orange;
    text-transform: uppercase;
    margin-bottom: 0;
    font: {
      weight: bold;
      size: 32px;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .main-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      list-style: none;
      margin-top: 10px;
      a {
        color: $blue;
        margin-left: 30px;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

.hero-area {
  height: 92vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover !important;
  h1 {
    color: #fff;
    padding: 0 40px;
    font: {
      weight: bold;
      size: 55px;
    }
    span {
      color: $orange;
    }
    margin-bottom: 30px;
  }
  p {
    color: #fff;
    margin-bottom: 60px;
    font-size: 18px;
    padding: 0 100px;
  }
  a {
    @include button;
    margin-top: 20px;
  }
}

.ftask-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  .ftask-single {
    width: 33%;
    margin-bottom: 50px;
    position: relative;
    img {
      width: 100px;
      margin-bottom: 15px;
    }
    h4 {
      font-weight: bold;
      font-size: 20px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      top: 10px;
      margin-left: 20px;
      background: $sky;
      z-index: -1;
      border-radius: 50%;
    }
  }
}

.app-preview {
  background: $blue;
  img {
    width: 70%;
  }
  h2 {
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 40px;
    span {
      color: $orange;
    }
  }
  ul {
    margin-bottom: 60px;
    color: #fff;
    font-size: 20px;
    list-style: none;
    li {
      padding-right: 200px;
      margin-bottom: 20px;
      &::before {
        content: "";
        background: $orange;
        font-weight: bold;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: 0;
        margin-left: -1em;
        margin-right: 10px;
      }
    }
  }
  a {
    @include button;
    padding: 25px 60px;
  }
}

footer {
  background: $sky;
  padding: 15px 0;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.login-section {
  padding: 70px 0;
  .sec-title h2 {
    margin-bottom: 0;
  }
}
.login-area {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: $sky;
  padding: 30px;
  border-radius: 5px;
  padding-bottom: 15px;
}

.login-submit {
  @include button;
  border: none;
  font-size: 16px;
  width: 100%;
  margin-top: 15px;
  border-radius: 4px;
  &:hover {
    transform: scale(1);
  }
}

.signup-link {
  margin-top: 20px;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  .single-task {
    text-align: center;
    width: 185px;
    height: 200px;
    padding: 15px;
    a {
      display: block;
      color: $blue;
      padding: 10px;
      border-radius: 50%;
      box-shadow: 0px 5px 10px #ddd;
      border: 3px solid transparent;
      transition: 0.3s;
      &:hover {
        text-decoration: none;
        border: 3px solid $blue;
      }
      img {
        width: 80px;
        margin-top: 10px;
      }
      p {
        font-weight: 600;
      }
    }
  }
}

.middle-task-list {
  margin: {
    top: -40px;
    bottom: -40px;
  }
  justify-content: space-between;
}

.task-create {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  padding: 25px;
  box-shadow: 0px 0px 10px #ddd;
}

.task-list-title {
  font-size: 35px;
  font-weight: 700;
  span {
    color: $orange;
  }
}

.radio-row {
  display: flex;
  justify-content: space-between;
}

.custom-input {
  width: 100%;
  border: 1px solid $blue;
  background: white;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  height: 120px;
  overflow: hidden;
  border-radius: 4px;
  &:last-child {
    margin-right: 0px;
  }
  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: {
      size: 16px;
      weight: 600;
    }
  }
}
.custom-input input:checked ~ .box {
  background: $blue;
  color: #fff;
}

.res-row {
  .custom-input {
    height: 80px;
  }
}

.task-header {
  background: $blue;
  text-align: center;
  color: #fff;
  padding: 30px 0;
  h1 {
    font-weight: 600;
  }
  span {
    color: $orange;
  }
}

.task-body {
  padding: 60px 0;
  .task-block {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $blue;
    padding-bottom: 10px;
    margin-bottom: 50px;
    h4 {
      strong {
        color: $blue;
      }
    }
  }
}

.task-body-2 {
  .task-block {
    justify-content: center;
    align-items: center;
  }
}

.task-contact {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px;
  .contact-block {
    display: flex;
    align-items: center;
    justify-content: center;
    &:first-child {
      margin-right: 60px;
    }
    img {
      width: 80px;
    }
    h4 {
      margin-left: 10px;
      a {
        color: $blue;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.task-footer {
  background: $blue;
  margin-top: 40px;
  h2 {
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    a {
      color: $orange;
    }
  }
}

.sec-title {
  button {
    @include button;
    border: 0;
    font-size: 14px;
    padding: 5px 25px;
    margin-left: 15px;
    border-radius: 4px;
    color: #fff;
  }
}

.copy-block {
  border-top: 3px solid $blue;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  .form-control {
    border: 0px solid $blue;
    box-shadow: none;
    width: 73%;
  }
  .copy-button {
    background: transparent;
    border: 0;
    outline: none;
  }
}

.g-block {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  button {
    border: 1px solid $blue;
    border-radius: 4px;
    background: transparent;
    padding: 10px 25px;
    transition: 0.3s;
    &:hover {
      background: $blue;
      color: #fff;
    }
  }
}

.task-action {
  margin-bottom: 80px;
}

.task-listing {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.account-single-task {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid $blue;
  padding-bottom: 5px;
  margin-bottom: 15px;
  .task-details {
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0;
      font-size: 30px;
    }
    img {
      margin: 0 10px;
      margin-left: 20px;
      width: 50px;
    }
    span {
      font-size: 30px;
      color: $blue;
      font-weight: 500;
    }
  }
  .s-task-action {
    display: flex;
    align-items: center;
  }
}

.task-list-button {
  background: transparent;
  border: 0;
  outline: none;
}

.form-control {
  border: 1px solid $blue;
}

.about-area {
  height: 75vh;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  background-size: cover !important;
  h1 {
    color: #fff;
    padding: 0 40px;
    font: {
      weight: bold;
      size: 55px;
    }
    span {
      color: $orange;
    }
    margin-bottom: 30px;
  }
  p {
    color: #fff;
    margin-bottom: 60px;
    font-size: 18px;
    padding: 0 40px;
  }
  a {
    @include button;
    margin-top: 20px;
  }
}

.team-area {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: $sky;
    border-radius: 50%;
    right: 24%;
    top: 12%;
  }
  &:after {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: $sky;
    border-radius: 50%;
    left: -10%;
    bottom: 0;
  }
}

.team-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 70px;
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid $orange;
  }
  h4 {
    font: {
      weight: 600;
      size: 24px;
    }
    margin-top: 30px;
    color: $blue;
  }
  h5 {
    color: $blue;
    font-size: 18px;
    margin: {
      top: 10px;
      bottom: 20px;
    }
  }
  p {
    padding: 0 80px;
  }
}

.faq-area {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: $sky;
    border-radius: 50%;
    right: -10%;
    bottom: -25%;
  }
}

.faq-single {
  margin-bottom: 50px;
  h4 {
    color: $blue;
    font-size: 22px;
    font-weight: 600;
  }
  p {
    line-height: 30px;
    span {
      color: $blue;
      font-weight: 600;
    }
  }
}

.app-form-area {
  background: $blue;
  form {
    text-align: center;
  }
  button {
    @include button;
    border: 0;
    margin-top: 20px;
  }
}
.form-module {
  background: #fff;
  padding: 40px;
  text-align: left;
  h2 {
    color: $orange;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    margin: {
      top: 20px;
      bottom: 50px;
    }
  }
  input.form-control,
  textarea {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  fieldset {
    width: 65%;
    margin: 0 auto;
  }
  .form-check {
    margin-left: 20px;
  }
}

.app-preview {
  h3 {
    margin-bottom: 30px;
    color: #fff;
  }
}
.bgwhite {
  background: #fff;
  h2 {
    color: #000;
  }
  li {
    color: #000;
  }
  h3 {
    color: #000;
  }
}

.app-coming {
  text-align: center;
  h2 {
    font: {
      weight: 700;
      size: 42px;
    }
    color: $orange;
    margin-bottom: 40px;
  }
  button {
    @include button;
    border: 0;
    color: #fff;
  }
}

.res-h3 {
  text-align: center;
  width: 100%;
}

@media (min-width: 1200px) {
  .container-task {
    max-width: 1200px;
  }
}

.task-feature-row {
  margin: 80px 0;
  img {
    max-width: 100%;
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .task-list-title {
    font-size: 26px;
    margin-left: 20px;
  }
  .middle-task-list {
    justify-content: center;
  }
  .app-preview {
    ul {
      font-size: 16px;
      li {
        padding-right: 0;
      }
    }
    h2 {
      font-size: 30px;
      margin-top: 30px;
    }
    img {
      margin-top: 80px;
    }
    a {
      font-size: 16px;
      padding: 15px 40px;
    }
  }
  .hero-area {
    height: 100%;
    h1 {
      padding: 0;
      font-size: 30px;
    }
    p {
      padding: 0;
      font-size: 14px;
    }
    a {
      font-size: 16px;
      padding: 15px 40px;
    }
  }
  .sec-title {
    width: 100%;
    h2 {
      font-size: 25px;
    }
  }
  .task-listing {
    padding-left: 20px;
    margin: 0 0;
    width: 95%;
  }
  .ftask-cont .ftask-single h4 {
    font-size: 15px;
  }
  .about-area {
    height: 100%;
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
  }
  .team-area {
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  .form-module {
    h2 {
      font-size: 30px;
    }
    input.form-control,
    textarea.form-control,
    fieldset {
      width: 100%;
    }
  }
  .app-coming h2 {
    font-size: 30px;
  }
  .account-single-task .task-details span {
    font-size: 20px;
  }
  .task-list {
    flex-wrap: nowrap;
    width: 95%;
  }
  .task-list .single-task a img {
    width: 45px;
  }
  .task-list .single-task a p {
    font-size: 12px;
  }
  .custom-input .box {
    font-size: 12px;
  }
  .res-row .custom-input {
    height: 55px;
  }
  .task-header h1 {
    font-size: 26px;
  }
  .task-block h4 {
    font-size: 16px;
  }
  .task-contact {
    display: block;
  }
  .task-contact .contact-block:first-child {
    margin-right: 0;
  }
  .task-contact .contact-block img {
    width: 50px;
  }
  .task-contact .contact-block h4 {
    font-size: 16px;
  }
  .res-h3 {
    width: 80%;
    margin: 0 auto;
  }
  header .main-menu {
    display: block;
    text-align: center;
    li {
      display: inline-block;
      a {
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
  header .logo {
    text-align: center;
    margin-bottom: 10px;
  }
}
